@page "/"

<PageTitle>Home • Grocy Scanner</PageTitle>

<h3 class="fw-bolder">Welcome back</h3>
<p>Using this application, you can scan unknown Products and they'll be automatically added to Grocy.</p>

