@page "/Settings"
@using GrocyScanner.Core.Providers

@inject IEnumerable<IProductProvider> ProductProviders

<PageTitle>Settings • Grocy Scanner</PageTitle>

<h3 class="fw-bolder mb-3">Settings</h3>

<h4>Active Indexers</h4>

<MudList>
    @foreach (IProductProvider provider in ProductProviders)
    {
        <MudListItem Avatar="@($"<image href='{provider.IconUri}' width='100%' height='100%' />")">
            <div class="d-flex align-items-center gap-3">
                <div>
                    <MudText>@provider.Name</MudText>
                    <MudText Typo="Typo.body2" Style="@($"color:{Colors.Grey.Default};")">@provider.Country</MudText>
                </div>
                <MudChip Variant="Variant.Text" Color="Color.Dark">Enabled</MudChip>
            </div>
        </MudListItem>
    }
</MudList>